---

---

<!--SECCION VIDEO-->

<section>

   <video class="w-full h-screen object-cover object-top brightness-50" src="/hero-video.mp4"
    autoplay
    muted 
    loop>
   </video>

<!--TITULO SUPERPUESTO AL VIDEO-->

   <div class="absolute inset-0 flex flex-col items-center justify-center gap-10">
   <h1 class= "subpixel-antialiased font-serif text-5xl font-semi-bold">Descubre Las Mejores Oportunidades Musicales</h1>
 </div>

</section>